@import "tailwindcss";

@theme inline {
  --color-primary: oklch(0.9 0 0);
}

:root {
  --background: 20 14% 4%;
  --foreground: 0 0% 100%;
  --primary: 0 0% 100%;
}

body {
  background: #0c0a09;
  color: white;
}